# **Bienvenido a TC2034**

Este notebook tiene por objetivo ayudarte con el uso de  pandas.

Pandas es una libreria para procesamiento de datos. Puedes imaginar los dataframes de Pandas como tablas, con filas y columnas.

**1.-** Importa `pandas` y carga un el dataset desde un archivo

In [1]:
import pandas as pd

# df es el dataframe
df = pd.read_csv(r"C:\Users\Raul\OneDrive\Escritorio\CS\TC2034.101\data\Video_Games_Sales_as_at_22_Dec_2016.csv")

La funcion `display(df)` muestra el dataframe. Si hay muchas filas, se mostrara solo un extracto. Prueba esta funcion

In [2]:
display(df)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN

La funcion `df.head()` devuelve las primeras filas del dataframe. Pruebala. Prueba la funcion `tail`. ¿Que devuelve? Prueba tambien `df.tail()` ¿Que hace?

In [3]:
# Primeros 5 registros del dataframe
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.tail()
# Ultimos 5 registros del dataframe

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN

Otras formas utiles para ver informacion del dataset son df.info() y `df.shape`. df.shape devuelve el numero de filas y columnas del dataframe. `df.info()` muestra informacion que incluye los nombres de cada columna, tipo y numero de datos non-null en cada una.

In [5]:
# nota que shape no es una funcion
df.shape

(16719, 16)

In [6]:
# prueba df.info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       7590 non-null   float64
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(10), object(6)
memory usage: 2.0+ MB

# Acceder a columnas y filas

`df.columns` devuelve el nombre de las columnas. Usala junto a `display` para ver como se llaman las columnas del dataframe

In [7]:
display(df.columns)

Index(['Name', 'Platform', 'Year_of_Release', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales', 'Critic_Score',
       'Critic_Count', 'User_Score', 'User_Count', 'Developer', 'Rating'],
      dtype='object')

Para ver los indices de las filas del dataframe puedes usar `df.index`

In [8]:
df.index

RangeIndex(start=0, stop=16719, step=1)

Con `df.iloc(i)` podemos acceder a la fila que tenga el indice `i` del dataframe. Por otro lado, `df.index[i]` devuelve el valor del index en la posion `i`. Nota que no son lo mismo.

In [9]:
df.iloc(0)

In [10]:
df.iloc[0]

Name               Wii Sports
Platform                  Wii
Year_of_Release        2006.0
Genre                  Sports
Publisher            Nintendo
NA_Sales                41.36
EU_Sales                28.96
JP_Sales                 3.77
Other_Sales              8.45
Global_Sales            82.53
Critic_Score             76.0
Critic_Count             51.0
User_Score                8.0
User_Count              322.0
Developer            Nintendo
Rating                      E
Name: 0, dtype: object

# Eliminar filas o columnas

La funcion `df.drop( fila/columna, axis=0/1, inplace=True/False )` sirve para eliminar filas o columnas. El primer parametro es la `fila` o `columna` que queremos eliminar. El segundo es el `axis`, puede ser `0` (para filas) o `1` (para columnas). El tercer parametro inplace puede ser `True` (si la modificion se hara directo sobre `df`) o `False` (si no). En caso de que no, `drop` regresara un nuevo dataframe modificado.

In [11]:
# se elimina la fila que tenga la posicion 1, directo sobre df
#
df.drop(df.index [ [1] ], axis=0, inplace=True)
df.head()

#   se elimina la columna 3, pero el resultado se relejara en df2 y no en df
# df2 = df.drop(3, axis=1, inplace=False)
df2 = df.drop(df.columns[3], axis=1, inplace=False)

df2.head()
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN

# Renombrar columnas

Nota que las columnas se llaman `0, 1, 2`  etc. La fila 0 tiene los nombres apropiados: `Name, Platform, Year_of_Release,` etc. Podemos asignar a `df.columns` el valor de toda la primera fila, y luego elimarla.

In [12]:

df.columns = df.iloc[0]
df.drop(df.index[0], axis=0, inplace=True )
display(df.head())

# Cuidado si ejecutas esta celda varias veces, seguiras eliminado filas

,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E

Tambien se puede establecer que el nombre de las columnas esta en la primera fila desde el principio, al abrir el dataframe usando la opcion `header=0`

In [14]:

df = pd.read_csv(r"C:\Users\Raul\OneDrive\Escritorio\CS\TC2034.101\data\Video_Games_Sales_as_at_22_Dec_2016.csv", header=0 )
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

# Manejar columnas

Podemos acceder a columnas especificas por nombre, por ejemplo `df.Name` . El resultado sera otro dataframe. Tambien puedes seleccionar multiples columnas a la vez usando una lista, por ejemplo `df[['Name', 'Series']]`.

In [15]:
res = df[['Name', 'Platform'] ] # res es un nuevo dataframe, que contiene solo las columnas Name y Platform de df

Los nombres de las columnas tambien se pueden usar para eliminarlas con `drop`.  Elimina la columna Global_Sales y muestra el resultado en otro dataframe.

In [22]:
#drop
dropped = df.drop('Global_Sales', axis = 1)
dropped.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,76.0,51.0,8.0,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,80.0,73.0,8.0,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,NaN,NaN,NaN,NaN,NaN,NaN

# Operaciones con columnas

Podemos hacer operaciones con columnas, tanto aritmeticas, como comparaciones. Por ejemplo, `df['NA_Sales'] + df['EU_Sales']` devolvera la suma de ambas columnas.

In [23]:
df['NA_Sales'] + df['EU_Sales']

0        70.32
1        32.66
2        28.44
3        26.54
4        20.16
         ...
16714     0.00
16715     0.01
16716     0.00
16717     0.01
16718     0.00
Length: 16719, dtype: float64

# Agregar columnas nuevas

Para agregar columnas nuevas basta con asignarlas. Antes eliminaste la columna Global_Sales. Puedes recalcularla y aregarla de nuevo a partir de la suma de NA_Sales, EU_Sales, JP_Sales y Other_Sales.

In [24]:
df['nueva_columna'] = df['Name']
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,nueva_columna
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,Wii Sports
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,Super Mario Bros.
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,Mario Kart Wii
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E,Wii Sports Resort
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,Pokemon Red/Pokemon Blue

# Manejo de NaN

Algunas columnas tienen valores faltantes (NaN). Por ejemplo, la columna **Critic_Score** tiene celdas con `NaN`. Se puede averiguar cuales datos de **Critic_Score** usando la funcion `isna`. El resultado es una serie de booleanos, donde `True` indica cuales son `NaN`.  La funcion `isnull` es similar a `isna`.

In [25]:
df['Critic_Score'].isna()

0        False
1         True
2        False
3        False
4         True
         ...
16714     True
16715     True
16716     True
16717     True
16718     True
Name: Critic_Score, Length: 16719, dtype: bool

Es usual elminar los NaN.  La funcion `drop` puede hacerlo si recibe los indices que cumplen la condicion de ser NaN.

In [26]:
df.drop( df[ df['Critic_Score'].isna() ].index  )

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,nueva_columna
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,Wii Sports
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,Mario Kart Wii
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E,Wii Sports Resort
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E,New Super Mario Bros.
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E,Wii Play
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16700,Breach,PC,2011.0,Shooter,Destineer,0.01,0.00,0.00,0.00,0.01,61.0,12.0,5.8,43.0,Atomic Games,T,Breach
16701,Bust-A-Move 3000,GC,2003.0,Puzzle,Ubisoft,0.01,0.00,0.00,0.00,0.01,53.0,4.0,NaN,NaN,Taito Corporation,E,Bust-A-Move 3000
16702,Mega Brain Boost,DS,2008.0,Puzzle,Majesco Entertainment,0.01,0.00,0.00,0.00,0.01,48.0,10.0,NaN,NaN,Interchannel-Holon,E,Mega Brain Boost
16706,STORM: Frontline Nation,PC,2011.0,Strategy,Unknown,0.00,0.01,0.00,0.00,0.01,60.0,12.0,7.2,13.0,SimBin,E10+,STORM: Frontline Nation
16709,15 Days,PC,2009.0,Adventure,DTP Entertainment,0.00,0.01,0.00,0.00,0.01,63.0,6.0,5.8,8.0,DTP Entertainment,NaN,15 Days

La funcion `fillna` sustituye los `NaN` por otra cosa que se indique. Esta es su sintaxis: `df['columna'] = df['columna'].fillna('valor sustituto')`

La funcion mean sirve para obtener el promedio. Se puede usar sobre una columna `df['NA_Sales'].mean()`. Por default, `mean` omitira los NaN que existan.

In [27]:
df['NA_Sales'].mean()

0.26333034272384714

Ahora usa `fillna` para sustituir los `NaN` de las columnas numericas

In [29]:
for column in df.columns:
  if type(column) == 'int64':
    med = df[column].quantile(0.5)
    df[column].fillna(med)
  elif type(column) == 'float64':
    mu = df[column].mean()
    df[column].fillna(mu)

df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,nueva_columna
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,Wii Sports
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,Super Mario Bros.
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,Mario Kart Wii
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E,Wii Sports Resort
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,Pokemon Red/Pokemon Blue

# Funciones estadisticas

Funciones como median min, max tambien estan disponibles:

In [34]:
# si usamos estas funciones sobre todo el dataframe, se aplican a todas las cols. numericas
display( df.mean )

display( df.median  )

display( df.max )

display( df.min  )

<bound method DataFrame.mean of                                 Name Platform  Year_of_Release         Genre  \
0                         Wii Sports      Wii           2006.0        Sports
1                  Super Mario Bros.      NES           1985.0      Platform
2                     Mario Kart Wii      Wii           2008.0        Racing
3                  Wii Sports Resort      Wii           2009.0        Sports
4           Pokemon Red/Pokemon Blue       GB           1996.0  Role-Playing
...                              ...      ...              ...           ...
16714  Samurai Warriors: Sanada Maru      PS3           2016.0        Action
16715               LMA Manager 2007     X360           2006.0        Sports
16716        Haitaka no Psychedelica      PSV           2016.0     Adventure
16717               Spirits & Spells      GBA           2003.0      Platform
16718            Winning Post 8 2016      PSV           2016.0    Simulation

          Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales  \
0          Nintendo     41.36     28.96      3.77         8.45         82.53
1          Nintendo     29.08      3.58      6.81         0.77         40.24
2          Nintendo     15.68     12.76      3.79         3.29         35.52
3          Nintendo     15.61     10.93      3.28         2.95         32.77
4          Nintendo     11.27      8.89     10.22         1.00         31.37
...             ...       ...       ...       ...          ...           ...
16714    Tecmo Koei      0.00      0.00      0.01         0.00          0.01
16715   Codemasters      0.00      0.01      0.00         0.00          0.01
16716  Idea Factory      0.00      0.00      0.01         0.00          0.01
16717       Wanadoo      0.01      0.00      0.00         0.00          0.01
16718    Tecmo Koei      0.00      0.00      0.01         0.00          0.01

       Critic_Score  Critic_Count  User_Score  User_Count Developer Rating  \
0              76.0          51.0         8.0       322.0  Nintendo      E
1               NaN           NaN         NaN         NaN       NaN    NaN
2              82.0          73.0         8.3       709.0  Nintendo      E
3              80.0          73.0         8.0       192.0  Nintendo      E
4               NaN           NaN         NaN         NaN       NaN    NaN
...             ...           ...         ...         ...       ...    ...
16714           NaN           NaN         NaN         NaN       NaN    NaN
16715           NaN           NaN         NaN         NaN       NaN    NaN
16716           NaN           NaN         NaN         NaN       NaN    NaN
16717           NaN           NaN         NaN         NaN       NaN    NaN
16718           NaN           NaN         NaN         NaN       NaN    NaN

                       nueva_columna
0                         Wii Sports
1                  Super Mario Bros.
2                     Mario Kart Wii
3                  Wii Sports Resort
4           Pokemon Red/Pokemon Blue
...                              ...
16714  Samurai Warriors: Sanada Maru
16715               LMA Manager 2007
16716        Haitaka no Psychedelica
16717               Spirits & Spells
16718            Winning Post 8 2016

[16719 rows x 17 columns]>

<bound method DataFrame.median of                                 Name Platform  Year_of_Release         Genre  \
0                         Wii Sports      Wii           2006.0        Sports
1                  Super Mario Bros.      NES           1985.0      Platform
2                     Mario Kart Wii      Wii           2008.0        Racing
3                  Wii Sports Resort      Wii           2009.0        Sports
4           Pokemon Red/Pokemon Blue       GB           1996.0  Role-Playing
...                              ...      ...              ...           ...
16714  Samurai Warriors: Sanada Maru      PS3           2016.0        Action
16715               LMA Manager 2007     X360           2006.0        Sports
16716        Haitaka no Psychedelica      PSV           2016.0     Adventure
16717               Spirits & Spells      GBA           2003.0      Platform
16718            Winning Post 8 2016      PSV           2016.0    Simulation

          Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales  \
0          Nintendo     41.36     28.96      3.77         8.45         82.53
1          Nintendo     29.08      3.58      6.81         0.77         40.24
2          Nintendo     15.68     12.76      3.79         3.29         35.52
3          Nintendo     15.61     10.93      3.28         2.95         32.77
4          Nintendo     11.27      8.89     10.22         1.00         31.37
...             ...       ...       ...       ...          ...           ...
16714    Tecmo Koei      0.00      0.00      0.01         0.00          0.01
16715   Codemasters      0.00      0.01      0.00         0.00          0.01
16716  Idea Factory      0.00      0.00      0.01         0.00          0.01
16717       Wanadoo      0.01      0.00      0.00         0.00          0.01
16718    Tecmo Koei      0.00      0.00      0.01         0.00          0.01

       Critic_Score  Critic_Count  User_Score  User_Count Developer Rating  \
0              76.0          51.0         8.0       322.0  Nintendo      E
1               NaN           NaN         NaN         NaN       NaN    NaN
2              82.0          73.0         8.3       709.0  Nintendo      E
3              80.0          73.0         8.0       192.0  Nintendo      E
4               NaN           NaN         NaN         NaN       NaN    NaN
...             ...           ...         ...         ...       ...    ...
16714           NaN           NaN         NaN         NaN       NaN    NaN
16715           NaN           NaN         NaN         NaN       NaN    NaN
16716           NaN           NaN         NaN         NaN       NaN    NaN
16717           NaN           NaN         NaN         NaN       NaN    NaN
16718           NaN           NaN         NaN         NaN       NaN    NaN

                       nueva_columna
0                         Wii Sports
1                  Super Mario Bros.
2                     Mario Kart Wii
3                  Wii Sports Resort
4           Pokemon Red/Pokemon Blue
...                              ...
16714  Samurai Warriors: Sanada Maru
16715               LMA Manager 2007
16716        Haitaka no Psychedelica
16717               Spirits & Spells
16718            Winning Post 8 2016

[16719 rows x 17 columns]>

<bound method DataFrame.max of                                 Name Platform  Year_of_Release         Genre  \
0                         Wii Sports      Wii           2006.0        Sports
1                  Super Mario Bros.      NES           1985.0      Platform
2                     Mario Kart Wii      Wii           2008.0        Racing
3                  Wii Sports Resort      Wii           2009.0        Sports
4           Pokemon Red/Pokemon Blue       GB           1996.0  Role-Playing
...                              ...      ...              ...           ...
16714  Samurai Warriors: Sanada Maru      PS3           2016.0        Action
16715               LMA Manager 2007     X360           2006.0        Sports
16716        Haitaka no Psychedelica      PSV           2016.0     Adventure
16717               Spirits & Spells      GBA           2003.0      Platform
16718            Winning Post 8 2016      PSV           2016.0    Simulation

          Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales  \
0          Nintendo     41.36     28.96      3.77         8.45         82.53
1          Nintendo     29.08      3.58      6.81         0.77         40.24
2          Nintendo     15.68     12.76      3.79         3.29         35.52
3          Nintendo     15.61     10.93      3.28         2.95         32.77
4          Nintendo     11.27      8.89     10.22         1.00         31.37
...             ...       ...       ...       ...          ...           ...
16714    Tecmo Koei      0.00      0.00      0.01         0.00          0.01
16715   Codemasters      0.00      0.01      0.00         0.00          0.01
16716  Idea Factory      0.00      0.00      0.01         0.00          0.01
16717       Wanadoo      0.01      0.00      0.00         0.00          0.01
16718    Tecmo Koei      0.00      0.00      0.01         0.00          0.01

       Critic_Score  Critic_Count  User_Score  User_Count Developer Rating  \
0              76.0          51.0         8.0       322.0  Nintendo      E
1               NaN           NaN         NaN         NaN       NaN    NaN
2              82.0          73.0         8.3       709.0  Nintendo      E
3              80.0          73.0         8.0       192.0  Nintendo      E
4               NaN           NaN         NaN         NaN       NaN    NaN
...             ...           ...         ...         ...       ...    ...
16714           NaN           NaN         NaN         NaN       NaN    NaN
16715           NaN           NaN         NaN         NaN       NaN    NaN
16716           NaN           NaN         NaN         NaN       NaN    NaN
16717           NaN           NaN         NaN         NaN       NaN    NaN
16718           NaN           NaN         NaN         NaN       NaN    NaN

                       nueva_columna
0                         Wii Sports
1                  Super Mario Bros.
2                     Mario Kart Wii
3                  Wii Sports Resort
4           Pokemon Red/Pokemon Blue
...                              ...
16714  Samurai Warriors: Sanada Maru
16715               LMA Manager 2007
16716        Haitaka no Psychedelica
16717               Spirits & Spells
16718            Winning Post 8 2016

[16719 rows x 17 columns]>

<bound method DataFrame.min of                                 Name Platform  Year_of_Release         Genre  \
0                         Wii Sports      Wii           2006.0        Sports
1                  Super Mario Bros.      NES           1985.0      Platform
2                     Mario Kart Wii      Wii           2008.0        Racing
3                  Wii Sports Resort      Wii           2009.0        Sports
4           Pokemon Red/Pokemon Blue       GB           1996.0  Role-Playing
...                              ...      ...              ...           ...
16714  Samurai Warriors: Sanada Maru      PS3           2016.0        Action
16715               LMA Manager 2007     X360           2006.0        Sports
16716        Haitaka no Psychedelica      PSV           2016.0     Adventure
16717               Spirits & Spells      GBA           2003.0      Platform
16718            Winning Post 8 2016      PSV           2016.0    Simulation

          Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales  \
0          Nintendo     41.36     28.96      3.77         8.45         82.53
1          Nintendo     29.08      3.58      6.81         0.77         40.24
2          Nintendo     15.68     12.76      3.79         3.29         35.52
3          Nintendo     15.61     10.93      3.28         2.95         32.77
4          Nintendo     11.27      8.89     10.22         1.00         31.37
...             ...       ...       ...       ...          ...           ...
16714    Tecmo Koei      0.00      0.00      0.01         0.00          0.01
16715   Codemasters      0.00      0.01      0.00         0.00          0.01
16716  Idea Factory      0.00      0.00      0.01         0.00          0.01
16717       Wanadoo      0.01      0.00      0.00         0.00          0.01
16718    Tecmo Koei      0.00      0.00      0.01         0.00          0.01

       Critic_Score  Critic_Count  User_Score  User_Count Developer Rating  \
0              76.0          51.0         8.0       322.0  Nintendo      E
1               NaN           NaN         NaN         NaN       NaN    NaN
2              82.0          73.0         8.3       709.0  Nintendo      E
3              80.0          73.0         8.0       192.0  Nintendo      E
4               NaN           NaN         NaN         NaN       NaN    NaN
...             ...           ...         ...         ...       ...    ...
16714           NaN           NaN         NaN         NaN       NaN    NaN
16715           NaN           NaN         NaN         NaN       NaN    NaN
16716           NaN           NaN         NaN         NaN       NaN    NaN
16717           NaN           NaN         NaN         NaN       NaN    NaN
16718           NaN           NaN         NaN         NaN       NaN    NaN

                       nueva_columna
0                         Wii Sports
1                  Super Mario Bros.
2                     Mario Kart Wii
3                  Wii Sports Resort
4           Pokemon Red/Pokemon Blue
...                              ...
16714  Samurai Warriors: Sanada Maru
16715               LMA Manager 2007
16716        Haitaka no Psychedelica
16717               Spirits & Spells
16718            Winning Post 8 2016

[16719 rows x 17 columns]>

# Ordenamiento

La funcion `sort_values` permite ordenar

In [35]:
display( df.sort_values('NA_Sales') )  # nota que esto no modifica a df
display(df)

display( df.sort_values('NA_Sales', inplace=True) ) # esto si
display(df)

# sort_values tien otras opciones que puedes consultar aqui
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,nueva_columna
8359,Bomberman B-Daman,SNES,1996.0,Shooter,Hudson Soft,0.00,0.00,0.17,0.00,0.17,NaN,NaN,NaN,NaN,NaN,NaN,Bomberman B-Daman
11304,Theme Park,SAT,1994.0,Simulation,Electronic Arts,0.00,0.00,0.08,0.00,0.08,NaN,NaN,NaN,NaN,NaN,NaN,Theme Park
11301,Pachitte Chonmage Tatsujin 13: Pachinko Hissat...,PS2,2007.0,Misc,Hackberry,0.00,0.00,0.08,0.00,0.08,NaN,NaN,NaN,NaN,NaN,NaN,Pachitte Chonmage Tatsujin 13: Pachinko Hissat...
11298,SD Gundam G Generation Genesis,PS4,2016.0,Strategy,Namco Bandai Games,0.00,0.00,0.08,0.00,0.08,NaN,NaN,NaN,NaN,NaN,NaN,SD Gundam G Generation Genesis
11295,Toukiden 2,PS4,2016.0,Action,Tecmo Koei,0.00,0.00,0.08,0.00,0.08,NaN,NaN,NaN,NaN,Koei Tecmo Games,NaN,Toukiden 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,Mario Kart Wii
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN,Tetris
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN,Duck Hunt
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,Super Mario Bros.
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,Wii Sports

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,nueva_columna
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,Wii Sports
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,Super Mario Bros.
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,Mario Kart Wii
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E,Wii Sports Resort
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,Pokemon Red/Pokemon Blue
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16714,Samurai Warriors: Sanada Maru,PS3,2016.0,Action,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,Samurai Warriors: Sanada Maru
16715,LMA Manager 2007,X360,2006.0,Sports,Codemasters,0.00,0.01,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,LMA Manager 2007
16716,Haitaka no Psychedelica,PSV,2016.0,Adventure,Idea Factory,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,Haitaka no Psychedelica
16717,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,Spirits & Spells
16718,Winning Post 8 2016,PSV,2016.0,Simulation,Tecmo Koei,0.00,0.00,0.01,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,Winning Post 8 2016

None

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,nueva_columna
8359,Bomberman B-Daman,SNES,1996.0,Shooter,Hudson Soft,0.00,0.00,0.17,0.00,0.17,NaN,NaN,NaN,NaN,NaN,NaN,Bomberman B-Daman
11304,Theme Park,SAT,1994.0,Simulation,Electronic Arts,0.00,0.00,0.08,0.00,0.08,NaN,NaN,NaN,NaN,NaN,NaN,Theme Park
11301,Pachitte Chonmage Tatsujin 13: Pachinko Hissat...,PS2,2007.0,Misc,Hackberry,0.00,0.00,0.08,0.00,0.08,NaN,NaN,NaN,NaN,NaN,NaN,Pachitte Chonmage Tatsujin 13: Pachinko Hissat...
11298,SD Gundam G Generation Genesis,PS4,2016.0,Strategy,Namco Bandai Games,0.00,0.00,0.08,0.00,0.08,NaN,NaN,NaN,NaN,NaN,NaN,SD Gundam G Generation Genesis
11295,Toukiden 2,PS4,2016.0,Action,Tecmo Koei,0.00,0.00,0.08,0.00,0.08,NaN,NaN,NaN,NaN,Koei Tecmo Games,NaN,Toukiden 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,Mario Kart Wii
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN,Tetris
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN,Duck Hunt
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,Super Mario Bros.
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,Wii Sports

Raúl Correa Ocañas

A01722401

21-02-2024